@use '../base/breakpoints' as *;

.about {
	display: grid;
	padding: 0 2rem;
	z-index: -99;
	

	@include media(">=tablet") {
		grid-template-columns: 1fr 1fr;
		padding: 0 4rem;
	}

	@include media(">=laptop") {
		padding: 2rem 10rem 0;
	}

	@include media(">=desktop") {
		padding: 2rem 12rem 0;
	}


	&-heading {
		margin: 2.5rem 0 3rem;

		@include media(">=tablet") {
			margin: 2.5rem 0 0;
		}
	}


	&__photo {
		position: relative;
		grid-row: 2/2;
		justify-self: center;

		@include media(">=tablet") {
			align-self: flex-start;
			grid-column: 2/-1;
			margin-top: 3.75rem;
		}
		
		@include media(">=laptop") {
			&:hover > span {
				top: -0.7%;
				left: -0.8%;
				width: 406px;
				height: 406px;
				border: 5px solid var(--orange);
				border-radius: 27px;
	
				@include media(">=desktop") {
					top: -0.9%;
					left: -1.1%;
					width: 408px;
					height: 408px;
					border-radius: 28px;
				}
			}
		}
		

		
		img {
			width: 250px;
			border-radius: 6px;
			
			@include media(">=laptop") {
				width: 400px;
				border-radius: 24px;
			}
		}


		&-decoration {
			position: absolute;
			top: 9%;
			left: 9%;
			height: 240px;
			width: 240px;
			border: 2px solid var(--orange);
			border-radius: 6px;
			z-index: -1;
			transition: all 0.4s ease-out;

			
			@include media(">=laptop") {
				height: 390px;
				width: 390px;
				border-radius: 24px;
			}


		}
	}

	&__content {
		grid-column: 1/ -1;
		margin: 2.5rem 0 0;

		@include media(">=tablet") {
			grid-column: 1/ 1;
			grid-row: 2/2;
		}

		@include media(">=laptop") {
			margin: 2rem 0 0;
			width: 90%;
			align-self: flex-end;
		}

		
	}

	&__content-2 {
		@include media(">=tablet") {
			grid-column: 1/ -1;
			grid-row: 3/3;
		}

		@include media(">=laptop") {
			grid-column: 1/ 	1;
			grid-row: 3/3;
		}
	}
}
