@use '../base/breakpoints' as *;


.project {
	display: grid;
	justify-items: center;
	width: 100%;
	box-shadow: 0px 10px 20px 0px rgb(0, 0, 0, 0.05);

	@include media(">=tablet") {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-column: 1/-1;
		align-items: center;
		margin: 5rem 0 0;
		row-gap: 1rem;
		box-shadow: none;
	}

	& > &-content > &-name {
		@include media(">=laptop") {
				background-image: linear-gradient(
					120deg,
					var(--orange) 0%,
					var(--orange) 100%
				);
				background-repeat: no-repeat;
				background-size: 0% 0.2rem;
				background-position: 0% 95%;
				transition: all 0.3s ease-out;
				
		}
	}

	&:hover > &-content > &-name {
		@include media(">=laptop") {
			background-image: linear-gradient(
				120deg,
				var(--orange) 0%,
				var(--orange) 100%
			);
			background-repeat: no-repeat;
			background-size: 100% 0.2rem;
			background-position: 0% 95%;
		}
	}


	&-content {
		display: grid;

		@include media(">=tablet") {
			grid-template-columns: 1fr 1fr;
			grid-column: 1 /3 ;
			align-self: flex-start;
			width: 90%;
			gap: 1.5rem;
		}

		@include media(">=laptop") {
			grid-template-columns: 1fr 1fr;
			grid-column: 1 /3 ;
			align-self: flex-start;
			width: 90%;
			gap: 1.5rem;
		}
	}

	&-name {
		justify-self: center;
		margin: 1.5rem 0;
		font-size: 1.6rem;
		font-weight: 700;

		@include media(">=tablet") {
			grid-column: 1/3;
			grid-row: 1/1;
			justify-self: flex-start;
			align-self: flex-start;
			font-size: 2rem;
			margin: 0 0 1rem;
		}

		@include media(">=laptop") {
			font-size: 2.5rem;
		}

		@include media(">=desktop") {
			font-size: 2.75rem;
		}
	}

	&-img-container {
		@include media(">=tablet") {
			grid-column: 3/-1;
			grid-row: 1/3;
			align-self: flex-start;
			width: 100%;
			transition: all 0.25s ease-out;
		}

		@include media(">=laptop") {
			align-self: center;
		}
		
		&:hover  {
			@include media(">=laptop") {
				transform: translateY(-5%);
				box-shadow: 0px 15px 15px 0px rgb(0, 0, 0, 0.5);
			}
		}
	}

	a,
	&-img {
		width: 100%;
		border-radius: 12px;
		position: relative;
		backdrop-filter: blur(10px);
		@include media(">=laptop") {
			justify-self: center;
			align-self: center;;
			border-radius: 24px;
		}


	}

	&-img {
		
		@include media(">=laptop") {
			height: 318px;
		}

		@include media(">=desktop") {
			height: 400px;
		}
	}


	&-technologies {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 80%;
		margin: 1.5rem 0;
		gap: 0.5rem;
		
		@include media(">=tablet") {
			grid-column: 1/ 3;
			justify-content: flex-start;
			justify-self: flex-start;
			align-self: flex-start;
			margin: 0;
		}

		@include media(">=laptop") {
			width: 75%;
			margin: 0.5rem 0 0;
		}

		@include media(">=desktop") {
			width: 64%;
		}
	}

	&-tech {
		margin: 0;
		padding: 0.25rem 0.5rem 0.35rem;
		font-size: 0.8rem;
		font-weight: 500;
		background: var(--background);
		color: white;
		border-radius: 4px;

		@include media(">=laptop") {
			padding: 0.3rem 0.75rem 0.4rem;
			font-size: 0.9rem;
		}

		@include media(">=desktop") {
			padding: 0.35rem 0.8rem 0.45rem;
			font-size: 1rem;
		}
	}

	&-description {
		margin:  0;
		width: 80%;

		@include media(">=tablet") {
			grid-column: 1/ 3;
			grid-row: 3/3;
			justify-self: flex-start;
			align-self: flex-start;
		}

		@include media(">=laptop") {
			justify-self: flex-start;
			width: 75%;
		}

		@include media(">=desktop") {
			width: 65%;
		}
	}



	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;

		@include media(">=tablet") {
			grid-column:3 / 5 ;
			grid-row: 3/3;
			justify-self: center;
		}

		@include media(">=laptop") {
			grid-column: 1 / 2 ;
			grid-row: auto;
			justify-self: flex-start;
		}

		@include media(">=desktop") {
			gap: 1.75rem;
		}

		button {
			border: 3px solid var(--orange) ;
			background: none;
			color: black;
			padding: 0.75rem 1.9rem 0.85rem;
			border-radius: 24px;
			transition: all 0.25s ease-out;
			
			@include media(">=tablet") {
				margin: 0;
			}

			&:hover {
				@include media(">=laptop") {
					background-color: var(--orange);
					color: white;
					
				}
			}
		}
	}
}