:root {
   --background: rgb(16, 29, 37);
   --background-nav: rgb(14, 25, 32);
   --orange: #ff7f5f;
   --orange-dark: #974834;
   --green: #5de7d9;
}

:root {
	--delay: 1.75s;
	--duration: 1s;
   --duration-mobile: 1s;
	--iterations: 1;
}