@use '../base/breakpoints' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}



html,
body,
#root,
.App {
	height: 100%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

button {
	display: flex;
	justify-content: center;
	margin: 2rem 0 2.25rem;
	padding: 1rem 1rem 1.1rem;
	font-weight: bold;
	font-size: 1rem;
	color: white;
	background: none;
	border-radius: 24px;

	@include media('>=desktop') {
		font-size: 1.15rem;
		padding: 1rem 1.25rem 1.1rem;
		border-radius: 26px;
	}

	&:hover {
		cursor: pointer;
	}
}

label {
	margin-top:1rem;
	font-weight: 600;
}

input {
	width: 100%;
	height: 48px;
	margin: 0.5rem 0;
	padding-left: 0.5rem;
	border: 1px solid rgb(224, 228, 250);
	border-radius: 4px;
	font-weight: 700;
	font-size: 0.8rem;
	letter-spacing: 0.015rem;

	&:focus {
		outline-color: var(--orange);
	}

	@include media('>=laptop') {
		font-size: 0.9rem;
	}
}

textarea {
	resize: none;
	width: 100%;
	height: 150px;
	margin: 0.5rem 0;
	padding: 0.5rem;
	border: 1px solid rgb(224, 228, 250);
	border-radius: 4px;
	font-weight: 700;
	font-size: 0.8rem;
	letter-spacing: 0.015rem;

	&:focus {
		outline-color: var(--orange);
	}

	@include media('>=laptop') {
		font-size: 0.9rem;
	}
}


.input-error {
	margin-top: 0;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 0.75rem;
	letter-spacing: 0.015rem;
	color: red;

	@include media('>=desktop') {
		font-size: 0.8rem;
	}
}

